<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <!--&lt;!&ndash;[if lt IE 9]>-->
    <!--<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="images/x-icon" href="../public/img/favicon.png">
    <title>飞扬俱乐部会员验证系统</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>
<body>
    <div id="menu2" class="menu">
        <ul>
            <li><a href="http://fyscu.com">飞扬官网</a></li>
            <li><a href="http://r.fyscu.com;">电脑报修</a></li>
            <li><a href="http://lab.fyscu.com;">飞扬研发实验室</a></li>
            <li><a href="http://log.fyscu.com;">术业有专攻</a></li>
            <li><a href="http://open.fyscu.com;">开放平台</a></li>
            <a href="http://fyscu.com" id="logo"><img src="../public/img/logo7.png"></a>
        </ul>
    </div>
    <div id="card">

        <!--<form id="form">-->
        <!--姓名:<input type="text"  id="name"></br>-->
        <!--性别:<input type="text"  id="gender"></br>-->
        <!--手机号:<input type="text" id="phone"></br>-->
        <!--飞扬会员号:<input type="text" id="vip_num"></br>-->
        <!--<a onclick="validate()">开始验证 </a>-->
        <!--</form>-->

    </div>

    <script type="text/javascript" src="../public/javascript/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="../public/javascript/index.js"></script>
</body>
</html>
