<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>飞扬俱乐部会员验证系统</title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
</head>
<body>
<h1>飞扬俱乐部会员验证系统</h1>

<form action="/form" method="get">姓名性别手机号飞扬会员号</form>
</body>
</html>
