@font-face {
    font-family: fytextzh;
    src: url('../font/zh.TTF') format('truetype');
}
@font-face {
    font-family: fytexten;
    src: url('../font/en.ttf') format('truetype');
}
html{
    height: 100%;
}
body {
    /*padding: 50px;*/
    /*color: aliceblue;*/
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 1.6;
}




#card{
    background-image: url("../img/card.png");
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: 100% 100%;
    width: 500px;
    height: 652px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
#form{
    width: 500px;
}
.input{
    margin: auto auto;
    display: block;
    border: 0;
    outline:none;
    vertical-align:middle;
    text-align:center;
    background-color: transparent;
    font-family: 'basic title font',幼圆;
    /*font-weight:bold;*/
    font-size: 35px;

    width: 357px;
    height: 50px;
    line-height: 50px;
    float: none;
    color:#ffffff
}
#form{
    position: relative;
    top: 30%;
    width: auto;
    height:auto;
}

h1 {
    margin: 0;
}
hr {
    border: none;
    height: 1px;
    line-height: 1px;
    background: #CCC;
    margin-bottom: 20px;
    padding: 0;
}
p {
    margin: 0;
    padding: 7px 0;
}
.menu {
    height: 45px;
    display: block;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li {
    /* width and height of the menu items */
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 45px;
}
.menu ul li a {
    /* must be postioned relative  */
    position: relative;
    display: block;
    width: 150px;
    height: 45px;
    font-family:幼圆;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}


.menu ul li a span {
    /* all layers will be absolute positioned */
    position: absolute;
    left: 0;
    width: 150px;
}
.menu ul li a span.out {
    top: 0;
}
.menu ul li a span.over,
.menu ul li a span.bg {
    /* hide */
    top: -45px;
}
/** 2nd example **/
#menu2 {
    background: #000;
}
#menu2 ul li a {
    color: #FFF;
}
#menu2 ul li a span.over {
    background: #FFF;
    color: #000;
}
#logo{
    float:right;
}
.card{
    position:center;
}
.input:hover{
    background-image:url("../img/inputbg.png");
    background-size: 100%;
}
#circle_min:hover{
    background: rgba(255,255,255,0.25);
    /*border: 3px solid #aaa;*/
    opacity: 1;
    color: #aaa;
}



@media screen and (max-width: 915px){
    #form{
        top:24%;
    }
}



    @media screen and (max-width: 767px){

    #menu2{
        width: 99%;
    }
    .m{
        width: 50%;
    }
    .menu ul li a span{
        width: 100%;
    }
    .menu ul li a{
        width: 100%;
    }
    .mm{
    display: none;
    }
    #logo{
        display: block;
    }
    html{
        width: 100%;
        height: 100%;
    }
    body{
        width: 100%;
        height: 100%;
        background-color: #c8c8c8;
        background-image: none;
    }
    #carder{
        height:100%;
    }
    #card{
        background-image: url("../img/card.png");
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        width: 100%;
        height: 100%;
    }
    .form{
        width: 100%;
        height: 100%;
    }
    .input{
        font-size: 3em;
        width: 90%;
        height:50%;
    }
    #name{
        margin: auto auto;
        width: 100%;
    }
}
@media screen and (max-width: 384px){
    #form{
        top:20%
    }
    .input{
        font-size: 25px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        float: none;
        color:#ffffff
    }
}
#circle_min {
    border: 4px double #FFFFFF;
    left: 50%;
    /*position: absolute;*/
    border-radius: 100%;
    /*top:20%;*/
    width: 2em;
    height: 2em;
    margin:auto auto;
}

#start{
    font-size: 26px;
    background-image: none;
}



#str_l{
    background-image: url("../img/str.png");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-x;
    width: 18%;
    height: 15%;
    position: absolute;
    left: 25%;

}
#str_r{
    background-image: url("../img/str.png");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-x;
    width: 18%;
    height: 15%;
    position: absolute;
    right:25%;

}

#text{
    font-family: 幼圆;
    font-size: 2em;
    width: 10em;
    margin: auto auto;
    position: relative;
    text-align: center;
    top:20%;
}
