@font-face {
    font-family: fytextzh;
    src: url('../font/zh.TTF') format('truetype');
}

@font-face {
    font-family: fytexten;
    src: url('../font/en.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    /*padding: 50px;*/
    /*color: aliceblue;*/
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    line-height: 1.6;
    overflow: scroll;
}

h1 {
    margin: 0;
}

hr {
    border: none;
    height: 1px;
    line-height: 1px;
    background: #CCC;
    margin-bottom: 20px;
    padding: 0;
}

p {
    margin: 0;
    padding: 7px 0;
}

#modal-7 {
    font-family: 'fytexten', 幼圆;
    font-weight: bolder;
}

.dow {
    font: 1em 'fytexten', 幼圆;
    width: 202px;
    height: 52px;
    line-height: 52px;
    background: #428bca;
    color: #fff;
    text-decoration: none;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: border-radius 0.5s, background 0.5s;
    -moz-transition: border-radius 0.5s, background 0.5s; /* Firefox 4 */
    -webkit-transition: border-radius 0.5s, background 0.5s; /* Safari and Chrome */
    -o-transition: border-radius 0.5s;, background 0.5 s /* Opera */
}

.dow:hover {
    border-radius: 0;
    background: #47abef;
}

.menu {
    height: 45px;
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    /* width and height of the menu items */
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 45px;
}

.menu ul li a {
    /* must be postioned relative  */
    position: relative;
    display: block;
    width: 150px;
    height: 45px;
    font-family: 幼圆;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.menu ul li a span {
    /* all layers will be absolute positioned */
    position: absolute;
    left: 0;
    width: 150px;
}

.menu ul li a span.out {
    top: 0;
}

.menu ul li a span.over,
.menu ul li a span.bg {
    /* hide */
    top: -45px;
}

/** 2nd example **/
#menu2 {
    background: #000;
}

button {

}

#menu2 ul li a {
    color: #FFF;
}

#menu2 ul li a span.over {
    background: #FFF;
    color: #000;
}

#card {
    background-image: url("../img/card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    width: 500px;
    height: 652px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

#carder {
    top: 20%;
    position: relative;
}

#Form {
    width: 370px;
    margin: auto;
    /*text-decoration: none;*/
    /*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(12,169,241,1)), to(rgba(220,230,235,1)));color-stop(#0CA9F1), color-stop(#DCE6EB)*/
}

/*#inputer{*/
/*color: #0CA9F1;*/
/*text-decoration: none;*/
/*-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.3)));*/
/*}*/

#text {
    font-family: fytextzh, 幼圆;
    font-size: 2em;
    width: 10em;
    margin: auto;
    position: relative;
    text-align: center;
    top: 20%;
}

.refresh {
    width: 50px;
    height: 50px;
    position: relative;
    margin: 90% auto auto;
    display: block;
    cursor:pointer;
    transition: border-radius 1.5s, background 0.5s;
    -moz-transition: border-radius 1.5s, background 0.5s; /* Firefox 4 */
    -webkit-transition: border-radius 1.5s, background 0.5s; /* Safari and Chrome */
    -o-transition: border-radius 1.5s, background 0.5s /* Opera */
}

.refresh:hover{
    border-radius: 50%;
    background-color: #FFFFFF;
}

#viptext {
    width: 50%;
    margin: 0 auto 15%;
    display: block;
}

.help {
    width: 2em;
    float: right;
}

.input {
    margin: auto;
    display: block;
    border: 0;
    outline: none;
    text-align: center;
    background-color: transparent;
    font-family: 'fytexten', fytextzh;
    font-weight: bold;
    font-size: 2em;
    height: 2em;
    line-height: 2em;
    color: inherit;
    position: relative;
}

#name::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(57, 182, 240);
}

#name:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(57, 182, 240);
}

#name::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(57, 182, 240);
}

#name:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(57, 182, 240);
}

#name {

    color: rgb(57, 182, 240);
}

#gender::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(90, 192, 239);
}

#gender:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(90, 192, 239);
}

#gender::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(90, 192, 239);
}

#gender:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(90, 192, 239);
}

#gender {
    color: rgb(90, 192, 239);
}

#phone::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(141, 207, 238);
}

#phone:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(141, 207, 238);
}

#phone::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(141, 207, 238);
}

#phone:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(141, 207, 238);
}

#phone {
    color: rgb(141, 207, 238);
}

#vip_num::-webkit-input-placeholder { /* WebKit browsers */
    color: rgb(175, 218, 237);
}

#vip_num:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(175, 218, 237);
}

#vip_num::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(175, 218, 237);
}

#vip_num:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: rgb(175, 218, 237);
}

#vip_num {
    color: rgb(175, 218, 237);
}

.input:hover {
    background-image: url("../img/inputbg.png");
    background-size: 100%;
}

#circle_min:hover {
    background: rgba(255, 255, 255, 0.5);
    /*border: 3px solid #aaa;*/
    opacity: 1;
    color: #aaa;
}

#start {
    font-size: 26px;
    background-image: none;
}

#circle_min {
    border: 7px double #FFFFFF;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    margin: 1em auto auto;
    cursor:pointer;
}

#str_l {
    background-image: url("../img/str.png");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-x;
    width: 18%;
    height: 100%;
    position: absolute;
    left: 20%;

}

#str_r {
    background-image: url("../img/str.png");
    background-size: 100%;
    background-position: center;
    background-repeat: repeat-x;
    width: 18%;
    height: 100%;
    position: absolute;
    right: 20%;

}

@media screen and (max-width: 767px) {

    html {
        width: 100%;
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background-color: #c8c8c8;
        background-image: none;
    }

    #menu2 {
        width: 96%;
    }

    .m {
        width: 33%;
    }

    .menu ul li a span {
        width: 100%;
    }

    .menu ul li a {
        width: 100%;
    }

    .mm {
        display: none;
    }

    #card {
        background-image: url("../img/card.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 90%;
    }

    .refresh {
        bottom: 0;
        margin: 40em auto auto;
    }

    .input {
        font-size: 2em;
        width: 80%;
        height: 50%;
    }

}

@media screen and (max-width: 414px) {
    #circle_min {
        margin: 0 auto auto;
    }
}

@media screen and (max-width: 413px) {

    #carder {
        top: 20%;
        width: 80%;
        margin: auto;
    }

    #Form {
        width: 100%;
    }

    #viptext {
        width: 50%;
        margin: 0 auto 10%;
    }

    .input {
        font-size: 1em;
        width: 100%;
        height: 1em;
        line-height: 1em;
        float: none;
        color: #ffffff
    }

    #start {
        font-size: 0.7em;
    }

    #str_l {
        height: 1.5em;
    }

    #str_r {
        height: 1.5em;
    }

    #text {
        font-size: 1.5em;
    }

    .refresh {
        bottom: 0;
        margin: 28em auto auto;
    }

    #circle_min {
        margin: 1em auto auto;
    }
}

@media screen and (max-width: 384px) {
    .md-content > div {
        padding: 5px 15px 10px;
        font-weight: 100;
        font-size: 0.75em;
    }

    .refresh {
        bottom: 0;
        margin: 90% auto auto;
    }

    .input {
        font-size: 1.8em;
        width: 100%;
        height: 1.8em;
        line-height: 1.8em;
        float: none;
        color: #ffffff
    }

    #circle_min {
        margin: 2em auto auto;
    }

}


