@font-face
{
    font-family: fytext;
    src: url('../font/zh.TTF')format('ttf');
}
html{
    height: 100%;
}
body {
    /*padding: 50px;*/
    color: aliceblue;
    font: 14px fytext, "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../img/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}
/*#cardback{*/
    /*width: 360px;*/
    /*height: 480px;*/
    /*margin-top: 5%;*/
    /*margin-bottom: auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*box-shadow: -10px -10px 5px #fff inset;*/
/*}*/
#card{
    background-image: url("../img/card.png");
    background-repeat:no-repeat ;
    background-position:center ;
    background-size: 100% 100%;
    width: 500px;
    height: 652px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    /*width:50%;*/
    /*margin:0 auto;*/
}
#form{
    width: 500px;
}
.input{
    display: block;
    border: 0;
    outline:none;
    vertical-align:middle;
    text-align:center;
    background-color: transparent;

    margin-left: auto;
    margin-right: auto;
    width: 357px;
    height: 50px;
    float: none;
}
@media screen and (max-height: 800px){
    html{
        height: 100%;
    }
    body{
        height:100%;
        /*padding: 50px;*/
        color: aliceblue;
        /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-repeat: repeat-y;
    }
}

@media screen and (max-width: 767px){
    #menu2{
        display: none;
    }
    html{
        height: 100%;
    }
    body{
        height: 100%;
        background-color: #c8c8c8;
        background-image: none;
    }
    #card{
        background-image: url("../img/card.png");
        background-repeat:no-repeat ;
        background-position:center ;
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }
}
body {
    font-family: "Trebuchet MS",Verdana,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

/*#content {*/
    /*width: 750px;*/
    /*margin: 50px auto;*/
    /*padding: 20px;*/
    /*background: #FFF;*/
    /*border: 1px solid #CCC;*/
/*}*/

h1 {
    margin: 0;
}

hr {
    border: none;
    height: 1px; line-height: 1px;
    background: #CCC;
    margin-bottom: 20px;
    padding: 0;
}

p {
    margin: 0;
    padding: 7px 0;
}
.menu {
    height: 45px;
    display: block;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    /* width and height of the menu items */
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 45px;
}

.menu ul li a {
    /* must be postioned relative  */
    position: relative;
    display: block;
    width: 110px;
    height: 45px;
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.menu ul li a span {
    /* all layers will be absolute positioned */
    position: absolute;
    left: 0;
    width: 110px;
}
.menu ul li a span.out {
    top: 0px;
}
.menu ul li a span.over,
.menu ul li a span.bg {
    /* hide */
    top: -45px;
}
/** 2nd example **/
#menu2 {
    background: #000;
}
#menu2 ul li a {
    color: #FFF;
}
#menu2 ul li a span.over {
    background: #FFF;
    color: #000;
}
#logo{
    float:right;
}
.card{
    position:center;
}
.input:hover{
    background-image:url("../img/inputbg.png");
    background-size: 100%;
}

div
{
    font-family:myFirstFont;
}